<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    {{>header}}
</head>

<body>
    <div class="main-content">
        <p>{{message}}</p>
        {{>footer}}
    </div>
</body>

</html>